!!!
%link{ :href => "stylesheets/main.css", :type => "text/css", :rel => "stylesheet", :media => "screen" }
%script{ :src => "javascripts/cufon-yui.js", :type => "text/javascript" }
%script{ :src => "javascripts/Futura_500.font.js", :type => "text/javascript" }
:javascript
  Cufon.replace('body');
.header
  = link 'who.html', 'Wow, Futura on a website!'
  = link 'what.html', 'Cool.'
.content
  